    <div class="col-md-8 offset-md-1">
      <h2>会員一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>          
        <% @customers.each do |customer| %>
          <tr>
            <th>
              <%= customer.id %>
            </th>
            <th>
              <%=link_to admin_customer(customer.id) do %>
               <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </th>
            <th><%= customer.email %></th>
            <th><%= customer.is_deleted %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>